@font-face {
  font-family: "WorkSans-Light";
  src: url("../fonts/WorkSans-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/WorkSans-Regular.ttf");
}

* {
  font-family: WorkSans-Light;
}

body {
  background-color: #191414;
}

b,
.bold {
  font-family: WorkSans-Regular;
}
